html {
    
    scroll-behavior: smooth;
    
}
body {
    
    margin:0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: PT Sans Narrow, sans-serif;
    
}

/* text */

.mainBody {
    
    padding-right: 100px 8%;
    padding-left: 100px 8%;
    padding-top: 75px 8%;
    padding-bottom: 75px 8%;
    margin: 0 auto;
    max-width: 960px;
    display: block;
    position: static;
    
}

h1 {
    
    font-weight: 60;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1em;
    
}

p {
    
    font-family: Times New Roman, sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
    padding-left: 2em;
    padding-right: 2em;
    
}

/* Tab-Banner */

.nav{

    background: rgba(255, 189, 84, 0.70);
    color: black;
    list-style: none;
    margin: 0px;
    padding: 1.45em 0 20px 0;
    vertical-align: top;
    position:relative;
    height:100%;
    text-align: center;

}
.nav > li {

    width 100%;
    display: inline-block;
    padding-right: 50px;
    z-index: 3;
    margin-left: 20px;
    font-family: PT Sans Narrow,sans-serif;

}
.nav > li > a , .barActiveTabs > li >a {

    width 100%;
    text-decoration: none;
    color: white;
    font-family: PT Sans Narrow, sans-Serif;
    font-size: 24px;

}
.barActiveTabs > li >a {
    
    font-size: 20px;
    
}
.nav > li > a:hover, .barActiveTabs > li >a:hover {

    color: rgba(255, 127, 41, .85);
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;

}

/* side bars */
.barActive {
    
    display: block;
    width: 98vw;
    opacity: .90;
    z-index: 10;
    top: 6vh;
    position: fixed;
    animation: fadein 0.4s;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    background-color: rgb(99, 99, 99);
    border-bottom: 20px solid rgb(58, 58, 58);
    border-top: 20px solid rgb(58, 58, 58);
    box-shadow: 0 0 6px 0 rgba(0, 0 ,0, 1);
    display: none;
    
}

.barActiveTabs {
    
    
    margin: 0px;
    vertical-align: top;
    position:relative;
    width: 100vw;
    height: 20vh;
    list-style: none;
    line-height: 1.8em;
    
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
    
}

/* tab bars */

.nav > li > div > a > img {

    display: none;
    height: 5.5vh;

}

.tabs {

    animation: fadein 0.4s;
    display: block;
    width: 100%;
    height:7.5vh;
    overflow-y: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0 ,0, 1);
    position: fixed;
    z-index: 9;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    
}

.tabs.fixed{

    position: fixed;
    top: 0;
    z-index: 2;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 1090px) {
    
    .nav > li > a {

        font-size: 18px;
        line-height: 1.3em;

    }
    .tabs {
        
        height: 8vh;
    
    }
}
@media (min-width: 933px) {
    
    .tabs {
        
        height: 6vh;
    
    }
    
}

@media (max-width: 580px) {
    .nav > li > a  {

        line-height: 1em;
        display: none;

}
    .nav > li > div > a > img  {

        line-height: 10em;
        display:block;
        float: right;
        text-align: right;
        

}
    .tabs {
        
        height: 6vh;
        opacity: .5;
        transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        text-align: right;
        
    }
    .tabs:hover {
        
        opacity: .95;
        
    }
    .nav > li > div > a > img:hover + .barActive {
        
        display: block;
        
    } 
    .nav > li > div > a > img:hover {
        
        filter: brightness(60%);
        transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        
    }
    .nav > li {
        
        padding: 0em 0 0px 0;
        text-align: right;
        
    }
    .nav {
        
        padding: .3em;
        text-align: right;
        
    }
    
    
}

/* Body */

.titleImage {
    
    background-image: url(../_images/code.png);
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    background-size: cover;
    /*temp*/
    position: relative;
    display: flex;    
    background-attachment: fixed;
    background-position: center;
    
}

.topOverlap {
    
    background-image: url(../_images/name.svg);
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center center;
    display: block;
    
}

@media (max-width: 500px) {
    
    .topOverlap {
        
        background-image: url(../_images/nameSmall.svg);
        
    }
    
}

.scollDown {
    
    background: url(../_images/arrow.svg);
    background-size: contain;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: 45%;
    margin-left: -15px;
    width: 18vw;
    z-index: 10;
    height: 18vw;
    padding: 0;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 150px;
    max-height: 150px;
    
}

/* slideshow */

.newWindow {
    
    position: absolute; 
    align-items: center;
    right: 2em;
    
}

@media (max-width: 960px) {
    
    #window {
        
        width: 15vw;
        
    }
    
}

.wButton {
    
    padding: 0;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    box-sizing: inherit;
    
}

.wButton:hover{
    
    background-color: #fff;
    
}

.buttonDiv {
    
    position:relative;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 3; 
    left: 0;
    right: 0;
    bottom: 0;
    top: -3vh;
    
}

.slideshowContainer {
	
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    
    
}

.slideshow {
    
    max-width:900px;
    border-radius: 45px;
    width: 90vw;
    text-align: center;
    
}

/* footer */

.footer1 {
    
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    position: relative;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

.footer2 {
    
    padding-top: 10px;
    padding-bottom: 35px;
    font-size: 13px;
    position: relative;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: #141414;
    
}

.footernote {
    
    color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    
}

.backtotop {
    
    float: right;
    padding-right: 2px;
    text-decoration: none;
    color: white;
    
}

.bottom {
    
    list-style: none;
    margin: 0px;
    padding: 20px 0 20px 0;
    vertical-align: top;
    position:relative;
    height:100%;
    
}

.bottom > li > a:hover, .backtotop:hover {

    color: rgba(255, 127, 41, .85);
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
    
}

.bottom > li {
    
    display: inline-block;
    padding-left: 2em;
    
}

.bottom > li > a {

    width 100%;
    text-decoration: none;
    color: white;
    font-family: Times New Roman, Sans-Serif;
    font-size: 17px;
    line-height: 2em;
 
}

/* Scrolling bar */

/* <--scollbar--> */

::-webkit-scrollbar {
    width: 12px;
}

/*Track*/

::-webkit-scrollbar-track {
    background: rgba(247, 247, 247, 0.23); 
    box-shadow: inset 0 0 2px #efefef;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(12, 12, 12); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d; 
}
